*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
button,
select,
html,
textarea,
input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}
.inset {
  padding: 10px;
}
button {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}
a {
  background: transparent;
  outline: none;
}
select,
button,
textarea,
input {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
input[type="reset"],
input[type="submit"],
html input[type="button"],
button {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="reset"][disabled],
input[type="submit"][disabled],
html input[type="button"][disabled],
button[disabled] {
  cursor: default;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px;
}
.md-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}
.md-shadow-bottom-z-1,
.md-button.md-raised:not([disabled]),
.md-button.md-fab {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.md-shadow-bottom-z-2,
.md-button.md-raised:not([disabled]):focus,
.md-button.md-raised:not([disabled]):hover,
.md-button.md-fab:not([disabled]):focus,
.md-button.md-fab:not([disabled]):hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.md-shadow-animated.md-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
/*
 * A container inside of a rippling element (eg a button),
 * which contains all of the individual ripples
 */
.md-ripple-container {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-ripple {
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
  border-radius: 50%;
}
.md-ripple.md-ripple-placed {
  transition: left 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), margin 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), border 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), height 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.65s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: left 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), margin 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), border 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), height 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.65s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-ripple.md-ripple-scaled {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.md-ripple.md-ripple-active,
.md-ripple.md-ripple-full,
.md-ripple.md-ripple-visible {
  opacity: 0.2;
}
md-tab > .md-ripple-container .md-ripple {
  box-sizing: content-box;
  background-color: transparent !important;
  border-width: 0;
  border-style: solid;
  opacity: 0.2;
  -webkit-transform: none !important;
  transform: none !important;
}
md-tab > .md-ripple-container .md-ripple.md-ripple-active,
md-tab > .md-ripple-container .md-ripple.md-ripple-full,
md-tab > .md-ripple-container .md-ripple.md-ripple-visible {
  opacity: 0.2;
}
/* Sizes:
  0    <= size < 600  Phone
  600  <= size < 960  Tablet
  960  <= size < 1200 Tablet-Landscape
  1200 <= size         PC
*/
[layout] {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
[layout=column] {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
[layout=row] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
[layout-padding],
[layout-padding] > [flex] {
  padding: 8px;
}
[layout-margin],
[layout-margin] > [flex] {
  margin: 8px;
}
[layout-wrap] {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[layout-fill] {
  margin: 0;
  min-height: 100%;
  width: 100%;
}
@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    width: 100%;
    min-height: auto;
    height: inherit;
  }
}
[flex] {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
[layout-align="center"],
[layout-align="center center"],
[layout-align="center start"],
[layout-align="center end"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
[layout-align="end"],
[layout-align="end center"],
[layout-align="end start"],
[layout-align="end end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
[layout-align="space-around"],
[layout-align="space-around center"],
[layout-align="space-around start"],
[layout-align="space-around end"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
[layout-align="space-between"],
[layout-align="space-between center"],
[layout-align="space-between start"],
[layout-align="space-between end"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
[layout-align="center center"],
[layout-align="start center"],
[layout-align="end center"],
[layout-align="space-between center"],
[layout-align="space-around center"] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
[layout-align="center start"],
[layout-align="start start"],
[layout-align="end start"],
[layout-align="space-between start"],
[layout-align="space-around start"] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
[layout-align="center end"],
[layout-align="start end"],
[layout-align="end end"],
[layout-align="space-between end"],
[layout-align="space-around end"] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
md-content {
  overflow: visible;
}
md-backdrop {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
md-backdrop.md-select-backdrop {
  z-index: 81;
}
md-backdrop.md-dialog-backdrop {
  z-index: 79;
}
md-backdrop.md-bottom-sheet-backdrop {
  z-index: 69;
}
md-backdrop.md-sidenav-backdrop {
  z-index: 59;
}
md-backdrop.ng-enter {
  -webkit-animation: cubic-bezier(0.25, 0.8, 0.25, 1) mdBackdropFadeIn 0.5s both;
  animation: cubic-bezier(0.25, 0.8, 0.25, 1) mdBackdropFadeIn 0.5s both;
}
md-backdrop.ng-leave {
  -webkit-animation: cubic-bezier(0.55, 0, 0.55, 0.2) mdBackdropFadeOut 0.2s both;
  animation: cubic-bezier(0.55, 0, 0.55, 0.2) mdBackdropFadeOut 0.2s both;
}
@-webkit-keyframes mdBackdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mdBackdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mdBackdropFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mdBackdropFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/**
 * Position a FAB button.
 */
.md-button {
  color: currentColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  padding: 6px;
  margin: 0;
  background: transparent;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-button:focus {
  outline: none;
}
.md-button:hover {
  text-decoration: none;
}
.md-button.ng-hide {
  transition: none;
}
.md-button.md-cornered {
  border-radius: 0;
}
.md-button.md-icon {
  padding: 0;
  background: none;
}
.md-button.md-raised {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.md-button.md-fab {
  z-index: 20;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: 0.2s linear;
  transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
}
.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: absolute;
}
.md-button.md-fab.md-fab-bottom-left {
  top: auto;
  right: auto;
  bottom: 20px;
  left: 20px;
  position: absolute;
}
.md-button.md-fab.md-fab-top-right {
  top: 20px;
  right: 20px;
  bottom: auto;
  left: auto;
  position: absolute;
}
.md-button.md-fab.md-fab-top-left {
  top: 20px;
  right: auto;
  bottom: auto;
  left: 20px;
  position: absolute;
}
.md-button.md-fab md-icon {
  margin-top: 0;
}
.md-button.md-fab.md-mini {
  width: 40px;
  height: 40px;
}
.md-button:not([disabled]).md-raised:focus,
.md-button:not([disabled]).md-raised:hover,
.md-button:not([disabled]).md-fab:focus,
.md-button:not([disabled]).md-fab:hover {
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
md-content {
  display: block;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
md-content[md-scroll-y] {
  overflow-y: auto;
  overflow-x: hidden;
}
md-content[md-scroll-x] {
  overflow-x: auto;
  overflow-y: hidden;
}
md-content.md-padding {
  padding: 8px;
}
@media (min-width: 600px) {
  md-content.md-padding {
    padding: 16px;
  }
}
.md-dialog-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
}
md-dialog {
  opacity: 0;
  min-width: 240px;
  max-width: 80%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
md-dialog.transition-in {
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
md-dialog.transition-out {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translate3d(0, 100%, 0) scale(0.2);
  transform: translate3d(0, 100%, 0) scale(0.2);
}
md-dialog md-content {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
md-dialog md-content:not([layout=row]) > *:first-child:not(.md-subheader) {
  margin-top: 0px;
}
md-dialog .md-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  box-sizing: border-box;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px 16px;
  min-height: 40px;
}
md-dialog .md-actions > * {
  margin-left: 8px;
}
md-dialog.md-content-overflow .md-actions {
  border-top: 1px solid;
}
md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  height: 24px;
  width: 24px;
}
md-item-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  padding: 0px 0px 0px 0px;
}
/**
 * The left tile for a list item.
 */
.md-tile-left {
  min-width: 56px;
  margin-right: -16px;
}
.md-select-menu-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
}
.md-select-menu-container:not(.md-clickable) {
  pointer-events: none;
}
.md-select-menu-container md-progress-circular {
  display: table;
  margin: 24px auto !important;
}
.md-select-menu-container.md-active {
  opacity: 1;
}
.md-select-menu-container.md-active md-select-menu {
  transition: -webkit-transform all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
}
.md-select-menu-container.md-active md-select-menu > * {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition-duration: 200ms;
  transition-delay: 100ms;
}
.md-select-menu-container.md-leave {
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  transition-duration: 250ms;
}
md-select {
  display: inline-block;
  margin-top: 20px;
}
md-select[disabled]:hover {
  cursor: default;
}
md-select:not([disabled]):hover {
  cursor: pointer;
}
md-select:not([disabled]):focus .md-select-label {
  border-bottom: 2px solid;
  padding-bottom: 7px;
}
.md-select-label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 9px;
  padding-right: 32px;
  padding-bottom: 8px;
  position: relative;
  box-sizing: border-box;
  min-width: 64px;
}
.md-select-label .md-select-icon:after {
  content: '\25BC';
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 2px;
  speak: none;
  -webkit-transform: scaleY(0.6) scaleX(1);
  transform: scaleY(0.6) scaleX(1);
}
md-select-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  max-height: 256px;
  overflow-y: hidden;
}
md-select-menu.md-reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
md-select-menu:not(.md-overflow) md-content {
  padding-top: 8px;
  padding-bottom: 8px;
}
md-select-menu md-content {
  min-width: 136px;
  max-height: 256px;
  overflow-y: auto;
}
md-select-menu > * {
  opacity: 0;
}
md-option {
  cursor: pointer;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  padding: 0 16px 0 16px;
  height: 35px;
}
md-option .md-text {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875em;
}
md-optgroup {
  display: block;
}
md-optgroup label {
  display: block;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 16px 8px;
}
md-optgroup md-option {
  padding-left: 24px;
}
md-tabs {
  display: block;
  width: 100%;
  font-weight: 500;
  overflow: auto;
}
.md-header {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  position: relative;
}
.md-paginator {
  z-index: 1;
  margin-right: -2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  min-height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}
.md-paginator.md-prev {
  left: 0;
}
.md-paginator.md-next {
  right: 0;
}
.md-paginator.md-next md-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* If `center` justified, change to left-justify if paginating */
md-tabs[center] .md-header:not(.md-paginating) .md-header-items {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.md-paginating .md-header-items-container {
  left: 32px;
  right: 32px;
}
.md-header-items-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin: auto;
}
.md-header-items-container .md-header-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 100%;
  width: 99999px;
}
.md-tabs-content {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.md-tabs-content .md-tab-content {
  height: 100%;
}
.md-tabs-content .md-tab-content.ng-hide.ng-animate {
  display: block !important;
}
.md-tabs-content .md-tab-content.ng-animate {
  transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.md-tabs-content .md-tab-content.ng-animate.ng-hide-add {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.md-tabs-content .md-tab-content.ng-animate.ng-hide-add.md-transition-rtl {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.md-tabs-content .md-tab-content.ng-animate.ng-hide-remove {
  position: absolute;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.md-tabs-content .md-tab-content.ng-animate.ng-hide-remove.md-transition-rtl {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.md-tabs-content .md-tab-content.ng-animate.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
md-tabs-ink-bar {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 2px;
  margin-top: -2px;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
md-tabs-ink-bar.md-transition-right {
  transition: right 0.25s cubic-bezier(0.35, 0, 0.25, 1), left 0.25s cubic-bezier(0.35, 0, 0.25, 1) 0.075s;
}
md-tabs-ink-bar.md-transition-left {
  transition: right 0.25s cubic-bezier(0.35, 0, 0.25, 1) 0.075s, left 0.25s cubic-bezier(0.35, 0, 0.25, 1);
}
md-tab {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 100%;
  text-align: center;
  cursor: pointer;
  padding: 20px 24px;
  box-sizing: border-box;
  transition: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
md-tab.md-tab-themed {
  transition: background 0.35s cubic-bezier(0.35, 0, 0.25, 1), color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
md-tab[disabled] {
  pointer-events: none;
  cursor: default;
}
md-tab:focus {
  outline: none;
}
md-tab md-tab-label {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 100;
  opacity: 1;
  overflow: hidden;
}
/*# sourceMappingURL=angularcCleaned.css.map */